<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class = "container">
{% block content %}
  <h1>Report for "{{ question.question_text }}"</h1>
  <form method="post" action="{% url 'polls:report' question.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Submit Report</button>
  </form>
  <a href="{% url 'polls:index' %}">Back to Polls</a>
</div>
  <footer>
    <div class="card text-center">
        <div class="card-header">
          Footer
        </div>
        <div class="card-body">
          <h5 class="card-title">Brought to You By Joe Leonard</h5>
          <p class="card-text">2024 Kabink, All rights reserved.</p>
        </div>
        <div class="card-footer text-body-secondary">
          CS 3240
        </div>
      </div>
</footer>
{% endblock %}
